@media (min-width:1437.9px) {
  main {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 135px;
    height: 551px;
    padding: 0 115px 0 115px;
    align-items: center;
  }
  .leftside-main {
    width: 538px;
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  .promosi-teks {
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    line-height: 44px;
    width: 450px;
    color: rgb(34, 34, 34);
  }
  .deskripsi-singkat {
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    font-weight: 400;
    color: rgb(34, 34, 34);
  }
  .deskripsi-singkat b {
    font-weight:500;
    color: rgb(0, 0, 0);
  }
  .sewa-button {
    width: 309px;
    height: 63px;
    background-color: #ffd700;
    border-radius: 8px;
    border: solid 1px #ffd700;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, border 0.15s;
  }
  
  .sewa-button:hover {
    background-color: #959595;
    border: solid 1px #959595;
  }
  .sewa-button:active {
    background-color: white;
    color: #ffd700;
    border: solid 1px #ffd700;
  }
  
  .rightside-main {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
  }
  .car-shadow {
    position: absolute;
  }
  .car {
    width: 700px;
    height: 551px;
    object-fit: cover;
  }
  .car-shadow {
    width: 700px;
    height: 551px;
    object-fit: cover;
  }
}

@media (max-width:1438px) {
  main{
    display: flex;
    flex-direction: column;
    margin-top: 135px;
    margin-bottom: 45px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 90px 65px 90px 65px;

  }
  .leftside-main {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 54px;
    align-items: center;
    position: relative;
  }

  .rightside-main {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: 54px 0 0 0;
  }
  .promosi-teks {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    line-height: 44px;
    color: rgb(34, 34, 34);
    width: 100%;
    text-align: center;
  }
  .deskripsi-singkat {
    font-size: 27px;
    line-height: 29px;
    margin: 0;
    font-weight: 400;
    color: rgb(34, 34, 34);
    text-align: center;
  }
  .car-shadow {
    position: absolute;
  }
  .car, .car-shadow {
    width: 700px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 90px;
  }
  .sewa-button {
    left: 0;
    right: 0;
    height: 63px;
    background-color: #ffd700;
    border-radius: 8px;
    border: solid 1px #ffd700;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 27px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, border 0.15s;
    position: absolute;
    bottom: -545px;
    z-index: 10;
  }
  
  .sewa-button:hover {
    background-color: #959595;
    border: solid 1px #959595;
  }
  .sewa-button:active {
    background-color: white;
    color: #ffd700;
    border: solid 1px #ffd700;
  }
}

@media (max-width:842px) {
  .car, .car-shadow {
    width: 365px;
    height: 400px;
    object-fit: contain;
  }
  .sewa-button {
    bottom: -492px;
    left: 0;
    right: 0;
  }
  main{
    display: flex;
    flex-direction: column;
    margin-top: 165px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 90px 25px 90px 25px;
    z-index: -2;
    left: 0;
    right: 0;
  }
  .rightside-main {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: 0px 0 0 0;
  }
  .sewa-button:hover {
    background-color: #959595;
    border: solid 1px #959595;
  }
  .sewa-button:active {
    background-color: white;
    color: #ffd700;
    border: solid 1px #ffd700;
  }
}