header {
  background-color: white;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 90px;
  justify-content: space-between;
  padding: 0 115px 0 115px;
}
.header-left {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
}
.header-right {
  height: auto;
  min-width: 435px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}
.logo-segaraart {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.header-menu {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(34, 34, 34);
}

.underline {
  position:absolute;
  background-color: #ffd700;
  bottom: 25px;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.15s;
}

.header-menu:hover .underline{
  opacity: 1;
}