main {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 135px;

}
/*home page css*/
.home-page {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 90px 120px 90px 120px;
  justify-content: space-between;
  gap: 45px;
}
.home-page .left {
  max-width: 555px;
  display: flex;
  flex-direction: column;
  gap: 45px;

}
.home-page h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  margin: 0;
}
.home-page p{
  font-size: 24px;
  margin: 0;
  opacity: 75%;
}
.home-page .right {
  background-color: grey;
  width: 600px;
  height: 367px;
  border-radius: 5px;
  position: relative;
}
.point {
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  justify-content: center;
}
.point div{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

/*Tentang kami css*/
.tentang-kami {
  background-color: white;
  padding: 29px 120px 29px 120px;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top h1 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 54px;
  font-weight: 600;
}
.top p {
  font-size: 24px;
  opacity: 75%;
  margin: 0;
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.tentang-kami-foto {
  background-color: grey;
  height: 428px;
  width: 321px;
  border-radius: 5px;
}
.bottoms {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bottoms p{
  font-size: 20px;
  opacity: 75%;
  margin: 10px 0 15px 0;
}
.bottoms img {
  height: 120px;
  width: 120px;
}

/*Biaya langganan css*/
.biaya-langganan {
  background-color: #FFFBED;
  padding:25px 120px 35px 120px;
  display: flex;
  flex-direction: column;
}
.biaya-langganan .top{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.biaya-langganan .top p{
  text-align: center;
}
.biaya-langganan .bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.biaya-langganan .bottom .paket-reguler, .paket-sultan{
  height: 422.39px;
  width:285.22px;
  background-color: grey;
  border-radius: 10px;
  margin: 30px 0 30px 0;
  padding: 30px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.paket-gold {
  background-color: white;
  width: 342.93px;
  height: 465.88px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #FF4229, #ff71e5);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 35px 45px 35px;
  justify-content: space-between;
}

.crown {
  position: absolute;
  right: -48px;
  top: -63px;
}
.paket-reguler {
  background: linear-gradient(to bottom right, #7300FF, #e1a4ff)
}
.paket-sultan {
  background: linear-gradient(to bottom right, #3884FF, #84e8ff)

}
.nama-paket{
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}
.harga-paket {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.masa-langganan {
  font-size: 30px;
  color: white;
  font-weight: 500;
}
.deskripsi-pembayaran{
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 0;
  width: 290px;
}
.paket-gold .nama-paket{
  color: #FFD700;
}
.paket-gold .harga-paket{
  margin-top: 25px;
  margin-bottom: 0;
}
.paket-gold .masa-langganan{
  margin: 0;
}
.cover-merah{
  width: 150px;
  height: 150px;
}
.free-box{
  position: relative;
}
.free-box p{
  position: absolute;
  margin: 0;
  color: white;
  font-size: 24px;
  top: 30px;
  left: -25px;
}
.paket-gold .mulai-button{
  background-color: white;
  border: 1px solid white;
  width: 227px;
  height: 49.8px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #FF4229;
  margin-top: 20px;
}
.biaya-langganan .paket-sultan .nama-paket {
  color: white;
  font-size: 28px;
}
.biaya-langganan .paket-sultan .harga-paket{
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 0;
}
.biaya-langganan .paket-sultan .masa-langganan{
  margin: 0;
}
.biaya-langganan .paket-sultan .deskripsi-pembayaran{
  font-size: 14px;
  width: 270px;
}
.biaya-langganan .paket-sultan .mulai-button{
  background-color: white;
  border: 1px solid white;
  width: 198px;
  height: 44px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #3884FF;
  margin-top: 10px;
}
.cover-hitam{
  width: 125px;
  height: 125px;
}
.paket-sultan .free-box p{
  font-size: 20px
}
.lap{
  width: 125px;
  height: 125px;
}
.paket-reguler .nama-paket{
  color: white;
  margin: 0;
}
.paket-reguler .harga-paket{
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 0;
}
.paket-reguler .masa-langganan{
  font-size: 30px;
  margin: 0;
}
.paket-reguler .deskripsi-pembayaran{
  font-size: 14px;
}
.paket-reguler .free-box p{
  font-size: 20px;
  top: 10px;
}
.paket-reguler .mulai-button{
  background-color: white;
  border: 1px solid white;
  width: 198px;
  height: 44px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color:#7300FF;
  margin-top: 10px;
}

/*halaman tambahan css*/
.halaman-tambahan{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 288px;
  padding: 45px 120px 45px 120px;
}
.halaman-tambahan img{
  width: 60px;
  height: 60px;
}
.kiri{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.halaman-tambahan p{
  font-size: 24px;
  font-weight: 600;
  opacity: 75%;
  color: #909090;
  margin: 0;
}
.kanan{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}