main {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 135px;

}
/*home page css*/
.home-page {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 90px 120px 90px 120px;
  justify-content: space-between;
  gap: 45px;
}
.home-page .left {
  max-width: 555px;
  display: flex;
  flex-direction: column;
  gap: 80px;

}
.home-page h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  margin: 0;
}
.home-page p{
  font-size: 24px;
  margin: 0;
  opacity: 75%;
}
.home-page .right {
  background-color: grey;
  width: 600px;
  height: 367px;
  position: relative;
  width: 550px;
}
.point {
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  justify-content: center;
}
.point div{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}
@media(max-width:1110px){
  main{
    margin-top: 91px;
    gap: 21px;
  }

}

@media(max-width:1313px){
  .home-page{
    padding: 39.2px 0 130px 0;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    position: relative;
  }

  .home-page .right{
    height: 539px;
    width: 100%;
  }
  .home-page .left{
    gap: 0;
    max-width: none;
  }
  .home-page h1{
    text-align: center;
    font-size: 52px;
  }
  .home-page p{
    position:absolute;
    bottom: 49px;
    text-align: center;
    left: 35px;
    right: 35px;
    font-size: 20px;
  }
}
@media(max-width:600px){
  .home-page h1{
    font-size: 32px;
  }
  .home-page p{
    font-size: 14px;
  }
  .home-page{
    padding: 42px 0 120px 0;
  }
  .left h1{
    padding: 0 35px 0 35px;
  }
}

/*Tentang kami css*/
.tentang-kami {
  background-color: white;
  padding: 64.8px 120px 40.5px 120px;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 40.5px;
}
.top h1 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 54px;
  font-weight: 600;
}
.top p {
  font-size: 24px;
  opacity: 75%;
  margin: 0;
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
}
.tentang-kami-foto {
  background-color: grey;
  height: 428px;
  width: 321px;
  border-radius: 5px;
}
.bottoms {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bottoms p{
  font-size: 20px;
  opacity: 75%;
  margin: 38.4px 0 15px 0;
}
.bottoms img {
  height: 120px;
  width: 120px;
}
.wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.slider {
  position: absolute;
  left: -5000px;
}

@media(max-width:1240px){
  .tentang-kami{
    padding: 57.6px 0 36px 0;
  }
  .top{
    gap: 36px;
  }
  .top h1{
    font-size: 48px;
    padding: 0 35px 0 35px;
  }
  .top p{
    padding: 0 35px 0 35px;
    font-size: 21.3px;
  }
  .middle{
    padding: 0 35px 0 35px;
  }
  .bottoms p{
    font-size: 17.7px;
  }
  .bottoms img{
    width: 106.6px;
    height: 106.6px;
  }
}
@media(max-width:1100px){
  .middle {
    margin-top: 25.5px;
  }
  .tentang-kami{
    padding: 40.8px 0 25.5px 0;
  }
  .top h1{
    font-size: 34px;
  }
  .top{
    gap: 25.5px;
  }
  .bottoms p{
    margin: 33.28px 0 13px 0;
  }
  .top p{
    font-size: 15.5px;
  }
  .middle {
    background-color: #f5f5f5;
  }
  .wrap {
    position: absolute;
    left: -5000px;
  }
  .slider{
    position: relative;
    height: 493.33px;
    width: 600px;
    background-color: grey;
    left: 0;
    border-radius: 5px;
  }
  .bottoms img{
    width: 92px;
    height: 92px;
  }
}

/*Biaya langganan css*/
.biaya-langganan {
  background-color: #FFFBED;
  padding:64.8px 120px 40.5px 120px;
  display: flex;
  flex-direction: column;
}
.tampilan-desktop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.biaya-langganan .top{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40.5px;
}
.biaya-langganan .top p{
  text-align: center;
}
.biaya-langganan .bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
  height: 456px;
}
.tampilan-phone{
  position: absolute;
  left: -10000px;
  opacity: 0;
}
@media(max-width:1240px){
  .tampilan-desktop{
    position: absolute;
    left: -5000px;
  }
  .tampilan-phone{
    height: 100%;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: visible;
    border-radius: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    overflow-x: hidden;
  }
  .biaya-langganan .bottom {
    height: 540.88px;
  }
  .biaya-langganan{
    padding: 57.6px 0 97.6px 0;
  }
  .bottom{
    padding: 0 35px 0 35px;
    flex-direction: row;
  }
  .swiper-wrapper {
    background-color: red;
    width: 100%;
    height: 100%;
  }
  .biaya-langganan{
    position: relative;
  }
  .biaya-langganan .top p{
    position: absolute;
    bottom: 36px;
  }
}
@media(max-width:1100px){
  .biaya-langganan{
    padding: 40.8px 0 138.6px 0;
  }
  .biaya-langganan .bottom{
    margin-top: 25.5px;
    height: 590.88px;
  }
  .biaya-langganan .top p{
    bottom: 47.6px;
  }
}

/*halaman tambahan css*/
.halaman-tambahan{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 288px;
  padding: 45px 120px 45px 120px;
}
.halaman-tambahan img{
  width: 60px;
  height: 60px;
}
.kiri{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.halaman-tambahan p{
  font-size: 24px;
  font-weight: 400;
  opacity: 75%;
  color: #909090;
  margin: 0;
  text-align: end;
}
.kanan{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media(max-width:1365px){
  .halaman-tambahan p{
    font-size: 18px;
  }
  .halaman-tambahan{
    padding: 45px 35px 45px 35px;
  }
}